html,
body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:16px;
}
h1 {
    margin: 8px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* -- Gridview (sorting icons, links etc) ------ */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: "\e151";
}
a.desc:after {
    content: "\e152";
}
.sort-numerical a.asc:after {
    content: "\e153";
}
.sort-numerical a.desc:after {
    content: "\e154";
}
.sort-ordinal a.asc:after {
    content: "\e155";
}
.sort-ordinal a.desc:after {
    content: "\e156";
}
.grid-view td {
    white-space: nowrap;
}
.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* ------ Gridview (sorting icons, links etc) -- */

/* -- Custom default navbar -------------------- */
.navbar-default .profile {
    text-align: center; 
    margin-top: 6px;
    color: #555555;
}
.navbar-default .profile .role {
    font-size: 16px;
}
.navbar-default .profile .name {
    font-size: 16px;
}
.navbar-default .profile .email {
    color: #777777;
    padding-left:6px;
    padding-right:6px;
}
.navbar-default .glyphicon {
    margin-right: 10px;
    vertical-align: middle;
    top: -1px !important;
}
.navbar-default .dropdown-menu{
    border: 1px solid #CECECE;
    border-top: 0;
    background-color: #F8F8F8;
    min-width: 180px;
}
.navbar-default .dropdown-menu > .active > a {
    background-color: #E7E7E7;
    color: #262626;
}
.navbar-default .dropdown-menu a:hover {
    background-color: #E7E7E7;
    color: #262626;
}
.navbar-default .divider {
    background-color: #CECECE !important;
}
/* -------------------- Custom default navbar -- */


.captcha {
    cursor: pointer;
}

.user-account .profile {
    float:left; 
    width:150px; 
    padding:5px 2px;
}



/*  
    =============================
    Bootstrap devices breakpoints
    xs: @media (max-width: 767px) { ... }
    sm: @media (min-width: 768px) and (max-width: 991px) { ... }
    md: @media (min-width: 992px) and (max-width: 1199px) { ... }
    lg: @media (min-width: 1200px) { ... }
    =============================
*/